* {
  margin: 0;
  padding: 0;
}

.shopping {
  position: relative;
  margin: 50px auto;

  width: 700px;

  text-align: center;

}

.title {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 10px;
}

table {
  margin: 15px auto;
  border-collapse: collapse;
} 

td {
  border: 1px solid black;
}

.item {
  line-height: 30px;
  font-weight: 700;
  background-color: rgb(108, 158, 245, 0.2);
}

tr {
  line-height: 40px;
}

#choose {
  width: 100px;
}

#name {
  width: 200px;
}

#price {
  width: 100px;
}

#total-number {
  width: 150px;
}

#total-price {
  width: 100px;
}


#account {
  padding-right: 15px;
  text-align: right;
}


.num-change {
  display: inline-block;
  border: 1px solid gray;
  margin: 10px 5px auto 5px;

  width: 30px;
  height: 30px;

  font-size: 20px;
  font-family: Arial;
  text-decoration-line: none;
}